<html>

<head>
  <% include ../partials/head %>
  <title>
    <%= title %>
  </title>
</head>

<body>
<header>
  <% include ../partials/header %>
  <h1>
    <%= title %>
  </h1>
</header>
<hr>
<p> AgoraViz vous permet de visualiser des débats dans l'Internet disruptif 3.0 digitalisé de la transformation numérique.
</p>
<footer>
  <% include ../partials/footer %>
</footer>
</body>

</html>

