<html>

<head>
  <% include ../partials/head %>
  <title>
    <%= title %>
  </title>
</head>

<body>
<header>
  <% include ../partials/header %>
  <h2>
    <br><%= title %>
  </h2>
</header>
<hr>
<p style="text-indent:2em"> AgoraViz est un projet mené dans le cadre de l’UV NF28 “Ingénierie des systèmes interactifs”. L’enjeu de cette UV est de comprendre les problématiques de conception, d’évaluation et d’implémentation de systèmes interactifs, notamment en réalisant un projet mettant en oeuvre ces questions propres à l’Interaction Homme-Machine.
<p style="text-indent:2em">Pour correspondre à cet enjeu, l’application AgoraViz propose un service de délibération numérique dont la nouveauté repose sur la possibilité d’interagir et de naviguer dans un espace de visualisation des débats, encourageant l’échange constructif plutôt que la confrontation stérile.</p>
<p style="text-indent:2em">Les deux objectifs auxquels AgoraViz tente de répondre sont : </p>
<p style="text-indent:4em">1. Concevoir une application proposant de visualiser et comprendre l’évolution d’un débat, dont chaque contribution est située par rapport aux autres, peut être enrichie de sources et de définitions.</p>
<p style="text-indent:4em">2. Donner la possibilité d’interagir sur chaque contribution et de se positionner facilement dans un débat, ainsi que de coopérer pour relier des contributions et trouver des points d’accord.</p>
<footer>
  <% include ../partials/footer %>
</footer>
</body>

</html>

