<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>

  </head>
  <body>
    <h1>Débats en cours</h1>
    <header>
    <% include ../partials/header %>
    </header>
    <div id="debatsList">
    <table>
      <thead>
        
      </thead>
      <tbody>
      </tbody>
    </table>
    </div>

    <br>
    <% include ../pages/debat %>


    <footer>
      <% include ../partials/footer %>
    </footer>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/global.js"></script>
  </body>
  
</html>
