 .node circle {
      fill: #fff;
      stroke-width: 1.5px;
  }
  .node {
      font: 10px sans-serif;
  }
  .link {
      fill: none;
      stroke: tan;
      stroke-width: 1.5px;
  }

  div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 260px;          
    height: 90px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none; 
}

#leTitre{
    height: 100px;
}

#fondnavbar{
    width : 100%;
    height : 50px;
    background : linear-gradient(#ffffff,#cbcbcb);
    border-radius : 4px 4px 4px 4px;
    box-shadow: 0px 0px 2px 2px rgba(120,120,120,0.5),
                0px 1px 0px 1px rgba(255, 255, 255,0.5) inset,
                0px -3px 0px 1px rgba(120,120,120,0.1) inset;
}
#navbar{
    font-family: "Trebuchet MS";
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    display: table;
    padding: 0;
}

#navbar li{
    display: table-cell;
    width : 180px;
    transition: 1s;
}
#navbar li:hover{
    width: 190px;
    transition: 1s;
}

#navbar a{
    color: #3b3b3b;
    text-decoration: none;
    display: block;
    line-height : 50px;
    text-align: center;
    text-shadow: 0 1px 0px rgba(0,0,0,0.2);
    transition: 1s;
}
#navbar a:hover{
    color : black;
    text-shadow: 0 1px 0px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.5);
    transition: 1s;
}

#grandFond{        
    background : linear-gradient(#ffffff,#e0e0e0);
    box-shadow: 0px 0px 2px 2px rgba(120,120,120,0.5),
                0px 1px 0px 1px rgba(255, 255, 255,0.5) inset,
                0px -3px 0px 1px rgba(120,120,120,0.1) inset;
}
#colGauche{        
    background: #e0e0e0;    
}
#colDroite{         
    background: #e0e0e0;    
}

#menuResume li{    
    display: table;
    width:100px;
    height: 20px;    
    border-radius: 2px 2px 2px 2px;
    float:left;
}

#lContrib{
    display: none;
}
#lContrib li{
    display: table;
    height: 70px;
}

#lSynth{
    display: none;
}
#lSynth li{
    display: table;
    height: 70px;
}

#label{
    width:100%;
}
#comment{
    width:100%;
}
#auteur{
    width:100%;
}
#description{
    width:100%;
}
#auteursynthese{
    width:100%;
}

#NewDebatContainer{
    margin-top: 50px;
}

#listAddDebat li{
    display: table-row;
    height: 50px;
}

#inputDebatQuestion{
    width:400px;
}

#basPage{    
    position: absolute;
    bottom: 0px;
    width: 90%;    
}
#basPage p{
    text-align: center;
}