<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/head %>

  </head>
  <body>
    <p>Bienvenue sur Agoraviz !</p>
    <header>
    <% include ./partials/header %>

    </header>
	<hr>


    <footer>
      <% include ./partials/footer %>
    </footer>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
