<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

    <% include ../../partials/head %>
  </head>

  <body>
    <h1>Débats en cours</h1>

    <header>
    <% include ../../partials/header %>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <table id="debates" class="display" style="width:100%">
            <thead>
              <tr>
                <th>Titre</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%debates.forEach(function(debate) { %>
                <tr>
                  <td><%= debate.question %></td>
                  <td>
                    <form id="deleteDebate/<%=debate._id %>" method="POST" action="/debates/delete/<%= debate._id%>"></form>
                    <a onClick="document.forms['deleteDebate/<%=debate._id %>'].submit()" class="btn btn-danger">
                      <i class="fa fa-trash-o">
                        Delete
                      </i>
                    </a>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <footer>
      <% include ../../partials/footer %>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/javascript/debate.js"></script>

  </body>

</html>
