<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Lancer un nouveau débat</h1>
    <header>
    <% include ../../partials/header %>
    </header>
    <form id="formAddDebat" name="adddebat" method="post" action="/debates/">
      <input id="inputDebatQuestion" type="text" placeholder="Question" name="question" />
      <input id="inputDebatDefinitions" type="text" placeholder="Définitions" name="definitions" />
      <input id="inputDebatSources" type="text" placeholder="Sources" name="sources" />
      <button id="btnAddDebat" type="submit">Lancer le débat</button>
    </form>
    <br>


    <footer>
      <% include ../../partials/footer %>
    </footer>


  </body>
</html>


