<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<div class="container" id="leTitre">  
  <h1>AgoraViz  &nbsp;  <i class="fas fa-tree"></i></h1>    
</div>

<div id="fondnavbar">
  <ul id="navbar">
    <li><a href="/debates/">Liste des débats</a></li>
    <li><a href="/debates/new">Nouveau débat</a></li>
    <li><a href="/about">A propos</a></li>
  </ul>
</div>

